*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
li{
    display: inline-block;
    position: relative;
    width:calc(33.3333% - 20px);
    height:100%;
    background: #ccc;
    padding: 1vw;
    border-radius: 1vw;
    margin-right:20px;
    text-align: center;
    font-size:1rem;
}
li img{
    max-width:100%;
    max-height:100%;
}
li:not(:last-child){
    margin-right:20px;
}
.arrow-wrap{
    margin-top:20px;
    text-align: center;
}
a{
    text-decoration: none;
    color:#fff;
    display:inline-block;
    padding:5px 10px;
    background-color: rgb(49, 49, 49);
    border-radius: 5px;
}
.gil-wrapper{
    position: relative;
    width: 100%;
    height:200px;
}
.gil-slides{
    width:100%;
    height:100%;
    left:0;
    top:0;
    white-space: nowrap;
    font-size:0;
}
.gil-slides.active{
    transition:0.5s ease-out;
}
/* li{
    list-style: none;
    width:250px;
    height:200px;
    background: #ccc;
    text-align: center;
    line-height: 200px;
    font-weight: bold;
    font-size:12px;
    color:rgb(131, 131, 131);
    border-radius: 10px;
}
li img{
    max-width:100%;
    max-height:100%;
}
li:not(:last-child){
    margin-right:20px;
}
.arrow-wrap{
    margin-top:20px;
    text-align: center;
}
a{
    text-decoration: none;
    color:#fff;
    display:inline-block;
    padding:5px 10px;
    background-color: rgb(49, 49, 49);
    border-radius: 5px;
}
.gil-wrapper{
    position:relative;
    width: 100%;
    height:200px;
    margin:0 auto;
    overflow: hidden;
}
.gil-slides{
    display: flex;
    position:absolute;
    left:0;
}
.gil-slides.active{
    transition:0.5s ease-out;
} */